<%= @x %>

<% form_tag(:action => "multi_peptides2", :method => "get") do %>
<body bgcolor="aliceblue">
  <h1>
    Multi-Peptide Search
  </h1>
  <p>
  <b> Protein Uniprot Accession Numbers: </b><br>
  <%= text_field_tag(:proteins)%> <br>
  example: P07091 P06870 P0A8M0 P01019

  </p>
  <p>
    <b> Peptide Sequences: </b> <br>
    <%= text_area_tag(:peptides)  %> <br>
  example: MMCNEFFEG IVGGWECEQHS SVVPVADVLQGR VIHNESTCEQ
  </p>
 
 <p>Information available<br>
 <%= check_box_tag(:chromosome)%> Chromosome <br>
 <%= check_box_tag(:band)%> Band <br>
 <%= check_box_tag(:domain)%> Domain <br>
 <%= check_box_tag(:precede)%> Preceding Amino Acids <br>
 <%= check_box_tag(:isoform)%> Isoform <br>
 </p>
 
  <%= submit_tag("Process into table") %>
<%end%>

<%form_tag(:action => "multi_export", :method => "get") do %>
<%= submit_tag("Process into exportable form")%>
<%end%>

