<body bgcolor="Azure"></body>


<table border="1" >
	<thead>
	 <tr>
		<th>Accession</th>
		<th>Protein Name</th>
		<th>All Names</th>
		<%if @spec%>
		<th>Species</th>
		<%end%>
		
		
		<%if @chromosome%>
		<th>Chr<br>Band</th>
		<%end%>
		
	

		<th>Sequence</th>
		<th>Pos</th>
		
		<th>Proteases</th>	
	
		<%if @evidence%>
		<th>Evidences</th>
		<%end%>

		<%if @domain%>
		<th>Domain Before</th>
		<th>Domain<br>At</th>
		<th>Domain<br>After</th>
		<%end%>
		
		<%if @proteaseWeb%>
		<th>Protease Web connections from protease to substrate</th>
		<%end%>
		

	</tr>
	</thead>

	<tbody>
	<% @mainarray.each_index do |i|%>
	<tr>	
		<% q = @mainarray.fetch(i)%>
		<td><a href="http://clipserve.clip.ubc.ca/topfind/proteins/<%= q[:acc]%>"><%= q[:acc]%></a></td>

		<td><% q[:short_names].each do |s|%>
			<%= s.full%><br>
			<%= s.short%><br>
			<%end%></td>
		<td><% q[:all_names].each do |s|%>
			<%= s.name%><br>
			<%end%></td>
	
		<%if @spec%>
			<td><%= q[:species]%></td>
		<%end%>

		<%if @chromosome%>
			<td><% q[:chr].each do |a|%>
				<%= a%><br>
				<%end%></td>
		<%end%>
		

		<td><%= q[:upstream]%> | <%= q[:pep]%></td>
		<td><%= q[:location].succ%></td>
		<td><% q[:proteases].each do |s|%>
			<%= s%><br>
			<%end%></td>

		<%if @evidence%>
		<td><%q[:evidences].each do |s|%>
			<%= s.name%><br>
			<%end%></td>
		<%end%>

	<%if @domain%>

			<td>
				<!--domains before  -->
				<%q[:domains].uniq.each do |r|%>
				<%if q[:location] <= r.from.to_i %>
				<%= r.name%><br>
				<%end%><%end%>
				</td>

			<td>
				<!--domains at  -->
				<%q[:domains].each do |r|%>
				<%if (q[:location] - @nterminal) >= r.from.to_i or (q[:location] + @cterminal) <= r.to.to_i %>
				<%= r.name%><br>
				<%end%><%end%>
				</td>


			<td>
				<!--domains after  -->
				<%q[:domains].each do |r|%>
				<%if q[:location] >= r.to.to_i%>
				<%= r.name%><br>
				<%end%><%end%>
				</td>
		<%end%> <!-- end of domains -->
		
			
	
	<%if @proteaseWeb%>
	<td><%= @pw_paths[q[:acc] + "_"+ q[:location].to_s].collect{|path| 
		path.collect{|node|
			@pw_gnames[node[:id]].to_s
		}.join(" -> ")		
	}.join("<br>  ") %></td>
	<%end%> <!-- end of protease web -->


	</tr>
	<% end %> <!-- end of loop over all proteins-->
	</tbody>
	

</table>


