<%= @x %>

<% form_tag(:action => "multi_peptides2", :method => "get") do %>
<body bgcolor="aliceblue">
  <h1>
    Multi-Peptide Search
  </h1>

  <p>
    <b> Protein Accessions and Peptide Sequences: </b> <br>
    <%= text_area_tag(:all)  %> <br>
  example:<br>
  P07091 MMCNEFFEG<br>
  P06870 IVGGWECEQHS<br>
  P0A8M0 SVVPVADVLQGR<br>
  P01019 VIHNESTCEQ<br>
  </p>
 
 <p>Information available<br>
 <%= check_box_tag(:spec)%> Species <br>
 <%= check_box_tag(:chromosome)%> Chromosome <br>
 <%= check_box_tag(:band)%> Band <br>
 <%= check_box_tag(:domain)%> Domain <br>
 <%= check_box_tag(:isoform)%> Isoform <br>
 </p>
 
<%= submit_tag("Process into table") %>
<%end%>

<%form_tag(:action => "multi_export", :method => "get") do %>
<%= submit_tag("Process into exportable form")%>
<%end%>
