<body bgcolor="Lavender"></body>


<table border="1" >
	<thead>
	 <tr>
		<th>Accession</th>
		<th>Protein Name</th>
		<th>All Names</th>
		<%if @spec%>
		<th>Species</th>
		<%end%>


		<%if @chromosome%>
		<th>Chr<br>Band</th>
		<%end%>



		<th>Sequence</th>
		<th>P<sub>1</sub>′</th>

		<th>Proteases</th>	

		<%if @evidence%>
		<th>Inferred from UniProt</th>
		<th width='500%'>Observed from Proteomics</th>
		<th>Alternative Transcription</th>
		<%end%>

		<%if @proteaseWeb%>
		<th>Protease Web Connections</th>
		<%end%>

		<%if @domain%>
		<th>Domain Before</th>
		<th>Domain<br>At</th>
		<th>Domain<br>After</th>
		<%end%>

		


	</tr>
	</thead>

	<tbody>
	<% @mainarray.each_index do |i|%>
	<tr>	
		<% q = @mainarray.fetch(i)%>
		<td><a href="http://clipserve.clip.ubc.ca/topfind/proteins/<%= q[:acc]%>"><%= q[:acc]%></a></td>

		<td><% q[:short_names].each do |s|%>
			<%= s.full%><br>
			<%= s.short%><br>
			<%end%></td>
		<td><% q[:all_names].each do |s|%>
			<%= s.name%><br>
			<%end%></td>

		<%if @spec%>
			<td><%= q[:species]%></td>
		<%end%>

		<%if @chromosome%>
			<td><% q[:chr].each do |a|%>
				<%= a%><br>
				<%end%></td>
		<%end%>


		<td><%= q[:upstream]%> ↓ <%= q[:pep]%></td>
		<td><%= q[:location].succ%></td>
		<td><% q[:proteases].each do |s|%>
			<% s.each do |a|%>
				<%= a%><br>					
			<%end end%></td>

		<%if @evidence%>
		<td><%= q[:uniprot?]%></td>
		<td><% q[:evidences_cleavages].each do |a|%>
				<font size='1'><%= a%><br></font>
			<%end%></td>
		<td></td>
			<%end%>

		<%if @proteaseWeb%>
		<td><font size='2'><span class="nowrap"><%= @pw_paths[q[:acc] + "_"+ q[:location].to_s].collect{|path| 
			path.collect{|node|
				@pw_gnames[node[:id]].to_s
					}.join(" -> ")		
			}.join("<br>  ") %></span></font></td>
		<%end%> <!-- end of protease web -->

	<%if @domain%>
			<td>
				<!--domains before  -->
				<%q[:domains_before].uniq.each do |r|%>
				<%= r.name%><br>
				<%end%></td>
		<td>
				<!--domains at  -->
				<%q[:domains_at].uniq.each do |r|%>
				<%= r.name%><br>
				<%end%></td>
		<td>
				<!--domains after  -->
				<%q[:domains_after].uniq.each do |r|%>
				<%= r.name%><br>
				<%end%></td>
		<%end%> <!-- end of domains -->



	


	</tr>
	<% end %> <!-- end of loop over all proteins-->
	</tbody>


</table>
