<%= @x %>

<% form_tag(:action => "multi_peptides2", :method => "get") do %>
<body bgcolor="aliceblue">
  <h1>
    TopFINDER
  </h1>

  <p>
    <b> Protein Accessions and Peptide Sequences: </b> <br>
    <%= text_area_tag(:all, "P07091 MMCNEFFEG\nP06870 IVGGWECEQHS\nP0A8M0 SVVPVADVLQGR\nP01019 VIHNESTCEQ\nP30990 KPRRPYIL\nP01042 SPFRSSRIGE")  %> <br>
  </p>
 
 <p>Information available<br>
 <%= check_box_tag(:spec, "1", true)%> Species <br>
 <%= check_box_tag(:chromosome, "1", true)%> Chromosome and Band<br>
 <%= check_box_tag(:domain, "1", true)%> Domain <br>
 <%= check_box_tag(:isoform, "1", true)%> Isoform <br>
 <%= check_box_tag(:evidence, "1", true)%> Evidences <br>
 <%= check_box_tag(:proteaseWeb, "1", true)%> Protease web analysis with 
 	protease: <%= text_field_tag(:pw_protease, "P14091")  %>
	max. path length <%= text_field_tag(:pw_maxPathLength, "4")  %>
	organism: 
	<%= radio_button_tag :pw_org, "human", true %> human
	<%= radio_button_tag :pw_org, "mouse" %> mouse
	<br>
 </p>
 
Number of Amino Acids <b>N-terminal</b> to retrieve information for (leave blank for 0, up to 10)<br>
    <%= text_field_tag(:nterminal, "2")  %> <br><br>

Number of Amino Acids <b>C-Terminal</b> to retrieve information for (leave blank for 0, up to 10)<br>
    <%= text_field_tag(:cterminal, "3")  %> <br><br>

<%= submit_tag("Process into table") %>
<%end%>
<!--
<%form_tag(:action => "multi_export", :method => "get") do %>
<%= submit_tag("Process into exportable form")%>
<%end%>
-->