<body bgcolor="MediumSeaGreen">Accession Number:</body>
<a href="http://clipserve.clip.ubc.ca/topfind/proteins/<%= @accession%>"><%= @accession%></a><br>

<body>Peptide Sequence: </body>
<%= @peptide %><br>

<body>Protein Name: </body> 
<%= @protein%><br>

<body>Location of peptide on protein sequence: </body>
<%if @location == nil%>
<%puts "not valid"%>
<body>Not a valid sequence</body>
<%else %>
<%= @location_1%>
<%end%><br><br>

<body>A few amino acids upstream:</body>
<%= @sequence[@location - 6, 6]%><br><br>

<body>Proteases that cleave this protein at this location: </body>
<%if @pep_cleavage.size == 0%>
<body>No known cleavages at this site</body><br>
<%else%>
<table border="1" style="width:100px">
	<thead>
	<tr>
		<td><b>Accession Code</b></td>
		<td><b>Name</b></td>
	</tr>
	</thead>
	<tbody>
<% @pep_cleaver.each do |n|%>
<tr><td><%= n.ac %> </td><td><%= n.name%></td></tr>
<% end %>
</tbody>
</table><br>
	<%end%>
		
<body>N-termini ID at this location: </body>
<%if @pep_nterm.size == 0%>
<body>No n-terminus at this location</body>
<%else%>
<% @pep_nterm.each do |n|%>
<%= n.id %> <br>
<% end %><br>
<%end%>

<body>Evidences for this N-terminus</body>
<%if @evidences_1.size == 0%>
<body>No known evidences</body><br>
<%else%>
<table border="1" style="width:500px">
	<thead>
		<tr>
			<td><b>Name</b></td>
			<td><b>Method</b></td>
			<td><b>Description</b></td>
		</tr>
	</thead>
	<tbody>		
<% @evidences_1.each do |e|%>
<tr>
	
	<td><%= e.name%></td>
	<td><%= e.method%></td>
	<td><%= e.description%></td>
<% end %><br> 
<%end%><br>
	</tbody>
</table><br>

<body>Variations of this sequence: </body>
<%if @seq_vars.size == 0%>
<body>No known variations</body>
<%else%>
<table border="1" style="width:350px">
	<thead>
		<tr>
			<td><b>Location</b></td>
			<td><b>Variation</b></td>
		</tr>
	</thead>
	<tbody>		
<% @seq_vars.each do |v|%>
<tr>
	<td><%= v.from%></td>
	<td><%= v.description %></td>
<% end %><br>
<%end%><br>
	</tbody>
</table><br>

<body>Topological domain:</body>
<%if @seq_topo.size == 0%>
<body>No known topological domains</body>
<%else%>
<table border="1" style="width:350px">
	<thead>
		<tr>
			<td><b>From</b></td>
			<td><b>To</b></td>
			<td><b>Topological Domain</b></td>
		</tr>
	</thead>
	<tbody>		
<% @seq_topo.each do |t|%>
<tr>
	<td><%= t.from%></td>
	<td><%= t.to%></td>
	<td><%= t.description %></td>
<% end %><br>
<%end%><br>
	</tbody>
</table><br>



<body>Modifications:</body>
<%if @seq_mods.size == 0%>
<body>No known modifications</body>
<%else%>
<table border="1" style="width:350px">
	<thead>
		<tr><b>Location</b></tr>
		<tr><b>Modification</b></tr>
		<tr><b>In the peptide sequence?</b></tr>
	</thead>
	<tbody>
		<% @seq_mods.each do |m|%>
		<tr>
			<td><%= m.from%></td>
			<td><%= m.description %> <br></td>
	</tbody>
<% end %><br>
<%end%>
</table>


