<table border="0">
<% @sortet_subs.each do |target| -%>
	<tr>
	<td><b><%= "#{@gnames[target[:id]]}(#{target[:id]})"%></b></td>
	</tr>
	<% @allPaths[target].each do |path| %>
		<tr>
		<% path.each do |path_node| %>
			<% if(path_node[:pos] == -1) %>
			<% elsif(path_node[:pos] == 0) %>
			<td>
				<%= "inh" %>
			</td>
			<% else %>
			<td>
				<% f = Protein.find_by_ac(path_node[:id]).fts.find_all_by_name(@int_domains) %>
				<%= f.select{|x| x.to.to_i < path_node[:pos]}.collect{|x| x.name.downcase}.join(", ") %>
				<b><%= " #{path_node[:pos]} " %></b>
				<%= f.select{|x| x.from.to_i <= path_node[:pos] && x.to.to_i >= path_node[:pos]}.collect{|x| x.name.downcase}.join(", ") %>
				<b><%= " #{path_node[:pos]} " %></b>
				<%= f.select{|x| x.from.to_i > path_node[:pos]}.collect{|x| x.name.downcase}.join(", ")%>
			</td>
			<% end %>
			<td><%= '<a href="http://clipserve.clip.ubc.ca/topfind/proteins/' + path_node[:id] + '">' + @gnames[path_node[:id]] + '</a>' %></td>
		<% end %>
		</tr>
	<% end %>
	<tr><td> --- </td></tr>
<% end %>
</table>